/*----顶部开始----*/
.head{
    width: 100%;
    height: 63px;
    background-color: #1e2d46;

}
.logo{
    /* width: 18%;  */
    height: 100%;
    background-color: #1e2d46; 
    padding-left: 20px;
}

/*背景部分*/
.background{
    position: relative;
   /* width: 100%;
    height: 100%;
    background: url('https://passport.qianxin.com/microapps/zeus-cloud-pc/img/login-bg.07b63f06.png');*/
}
.background img{
    width: 100%;

}

/*注册小盒子*/
.box{
    position:absolute;
    right: 100px;
    top: 150px;

    width: 414px;
    height: 362px;
    background-color: #262c37;

}
.title{
    position: relative;
    width: 100%;
    height: 87px;
    background-color: #262c37;
    border-bottom: 2px solid white;
    color: white;
    font-size: 18;
    font-weight: bold;
    font-size:24px;
    text-align: center;
    line-height: 87px;
    
}

.button1{
    padding-top: 41px;
    text-align: center;
    
}
.one{
    width:169px;
    height: 38px;
    background-color:#0044cc;
    display: inline-block;
    color: white;
    text-align: center;
    line-height: 38px;
    border-radius:5px;
}
.two{
    width:169px;
    height: 38px;
    background-color:white;
    display: inline-block;
    color: grey;
    text-align: center;
    line-height: 38px;
    border-radius:5px;
}

.button2{
    position:relative;
    top:29px;
    left:38px;
    width: 338px;
    height: 42px;
    background-color: #1a1e26;
    text-align: center;
    border: 1px solid grey;
    color: grey;
    text-align: center;
    line-height: 42px;
    border-radius:5px;
}


.button3{
    position: relative;
    top: 57px;
    left:38px;
    width: 338px;
    height: 42px;
    background-color: #0044cc;
    text-align: center;
    color: white;
    text-align: center;
    line-height: 42px;
    border-radius:5px;
}